@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

}

@theme inline {
  --primary-color: #DF571B;
  --primary-color-600: #BF4008;
  --title-color: #011D38;
  --background-color: #F0F8FF;
  --text-color: #F0F8FF;
  --card-color:#DAEDFF;
  --placeholder-color: #B1BCC7;
  --label-color:#2E353C;
  --font-texto: var(--font-inter);
  --font-titulo: var(--font-poppins);
}

body {
  font-family: var(--font-texto),sans-serif;
}
